/* background-color */
body{
    background-color: skyblue;
    }
    
/*parent container */
.main{
    width: 480px;
    height: 480px;
    background-color: grey;
    padding: 20px 20px;
    margin-left:420px;
}
/* Blocks */
.block{
    width: 60px;
    height: 60px;
    float:left;
}
/* Black blocks */
.black{
    background-color: black;
}
/* White blocks */
.white{
    background-color: white; 
}
/* white icons */
.icon{
    color: white;
    margin:20px;
    font-size:25px;
}
/* Black icons */
.icon2{
    color: black;
    margin:20px;
    font-size:25px;
}
